.menu i.material-icons {
    color: #1565c0;
}

.menuIcons {
    display: flex;
    margin-top: 60px;
}

.profile {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 18px;
}

li.active {
    margin-right: 18px;
    margin-left: -12px;
    padding: 1px 0px 16px 12px;
    background-color: #b5dbf88a;
}

.menuIconsNews, .menuIconsMessage, .menuIconsFriends, .menuIconsEvents, .menuIconsMedia {
    display: flex;
    margin-top: 20px;
}

.menuIconsFriends {
    padding: 4px 0 4px 0px;
}


.d-flex-vertical-center {
    display: flex;
    align-items: center;
}

.card-image img.responsive-image {
    width: 100px;
}

.marginSearch {
    margin-top: 4px;
}

.marginAdd {
    margin-top: 4px;
}

.d-flex-month {
    display: flex;
    align-items: center;
}

.d-flex-month i.material-icons {
    color: #bdbdbd;
}

.messageFour {
    margin-left: 12px;
    padding: 6px;
    background-color: #1565c0;
}
li.blue {
    margin-right: 24px;
}

.dateCity, .city {
    margin-left: 6px;
}

.bold-text {
    font-weight: 900;
}

.w-100 {
    width: 100%;
}

.imageLyndsey {
    position: relative;
}

.curabiturBudge {
    position: absolute;
    bottom: 7px;
    background-color: #0000007c;
    padding: 20px;
    color: #ffffff;
    width: 100%;
}

span.card-title.curabiturBudge {
    font-size: 30px;
    font-weight: 900;
}



.timeIcon, .eventIcon, .placeIcon {
    position: relative;
    top: 5px;
}

.detailsLink {
    padding: 0px 0px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
